<a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
    <img src="/img/icons/git.png" alt="github link" height="35" width="35">
</a>

<a target="_blank" href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
    <img src="/img/icons/twitter.png" alt="twitter link" height="50" width="50">
</a>

<a class="u-email" target="_blank" href="mailto:{{ site.email }}">
    <img src="/img/icons/email.png" alt="email me" height="35" width="35">
</a>



